*,body,html {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    background: linear-gradient(#111,#222);
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: #fff;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important
}